<!DOCTYPE html>
<html>
<head>
    <title>Product Detail</title>
</head>
<body>
    <h1>{{ product.name }}</h1>
    <p>Description: {{ product.description }}</p>
    <p>Store Link: <a href="{{ product.store_link }}">{{ product.store_link }}</a></p>
    <p>Image: <img src="{{ product.image_url }}" alt="{{ product.name }}"></p>
    <p>SKU: {{ product.sku }}</p>
    <p>Clothing Type: {{ product.clothing_type }}</p>
    <p>Category: {{ product.clothing_category }}</p>
    <p>Manufacturer: {{ product.manufacturer_name }}</p>
    <p>Country of Origin: {{ product.country_of_origin }}</p>
    <p>colour: {{ product.colour }}</p>
</body>
</html>
